
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Juanda Hospital</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/pasien/all">Pasien</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/dokter/all">Dokter</a>
        </li>
      
        <li class="nav-item active">
            <a class="nav-link" href="/ruangan/all">Ruangan</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/rawat_jalan/all">Rawat Inap</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/rawat_jalan/all">Rawat Jalan</a>
        </li>
    </ul>
</nav>


<!-- <nav class="w3-bar w3-black">
    <a href="/home" class="w3-button w3-bar-item">Home</a>
    <a href="/pasien/all" class="w3-button w3-bar-item">Pasine</a>
    <a href="/dokter/all" class="w3-button w3-bar-item">Dokter</a>
    <a href="/ruangan/all" class="w3-button w3-bar-item">Ruangan</a>
    <a href="/rawat_jalan/all" class="w3-button w3-bar-item">Rawat Jalan</a>
    <a href="/rawat_inap/all" class="w3-button w3-bar-item">Rawat Inap</a>

  </nav> -->
